/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
    margin: 0;
}

/* Header styles */
header {
    background-color: #28296B; /* Header background color */
    color: #FFFFFF; /* Text color */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

/* Logo styles */
.logo {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

/* Navigation menu styles */
.menu {
    list-style: none;
}

.menu li {
    display: inline;
    margin-right: 20px;
}

.menu li a {
    text-decoration: none;
    color: #FFFFFF; /* Text color */
    font-weight: 600;
}

/* Sidebar styles */
aside {
    background-color: #28296B; /* Sidebar background color */
    color: #FFFFFF; /* Text color */
    width: 250px;
    padding: 20px;
    position: fixed;
    top: 0; /* Extend to the top of the viewport */
    height: 100vh; /* Set to viewport height */
    overflow-y: auto;
}

.user-profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.user-profile img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

.sidebar-menu {
    list-style: none;
}

.sidebar-menu li {
    margin-bottom: 10px;
}

.sidebar-menu li a {
    text-decoration: none;
    font-weight: 500;
}

/* Main content area styles */
main {
    margin-left: 250px;
    padding: 20px;
}

/* Footer styles */
footer {
    background-color: #28296B; /* Footer background color */
    color: #FFFFFF; /* Text color */
    text-align: center;
    padding: 10px;
    position: absolute;
    width: 100%;
    bottom: 0;
}
